html{
    background:rgb(245, 209, 3);
    background-size: 50px 50px;
    font-family:'helvetica neue';
    text-align: center;
    font-size: 10px; 
}
body {
    font-size: 2rem;
    display:flex;
    flex:1;
    min-height: 100vh;
    align-items: center;
}
.clock{
    background-color: white;
    width: 30rem;
    height: 30rem;
    border:10px solid red;
    border-radius:10% ;
    margin:90px auto;
    position: relative;
    padding: 1rem;
    box-shadow:
        0 0 0px 1px rgba(0,0,0,0.1),
        inset 0 0 0 3px,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
}
.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
.clock-face::before {
    background-color: #000;
    border-radius: 50%;
    content: "";
    height: 38px;
    left: 42.5%;
    position: absolute;
    top: 44.5%;
    width: 38px;
  }
.hand{
    width: 50%;
    height: 6px;
    background:black;
    position: absolute;
    right: 50%;
    top:50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
}

.hour-hand {
    border-bottom-left-radius: 8.5em;
    border-top-left-radius: 8.5em;
    height: 16px;
    width: 40%;
    transform-origin: 100%;  
}

.min-hand {
    height: 12px;
}

.second-hand {
    height: 4px;
    background-color: red;
    width: 50%;
}

  